@media screen and (min-width: 640px) {
  .div-12 {
    display: grid;
    place-items: center;
  }

  .show-section {
    display: grid;
    place-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    place-items: center;
    --position: 50%;
  }

  .image-container {
    max-width: 80vw;
    height: 60vh;
    aspect-ratio: 16/9;
    overflow: hidden;
  }

  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    display: block;
  }

  .img-before {
    min-height: 100%;
    position: absolute;
    width: var(--position);
  }

  .img-after {
    min-height: 100%;
    inset: 0;
  }

  .slider {
    background-color: transparent;
    position: absolute;
    inset: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  .slider:focus-visible ~ .slider-button {
    outline: 5px solid black;
    outline-offset: 3px;
  }

  .slider-line {
    position: absolute;
    inset: 0;
    width: 0.2rem;
    height: 100%;
    background-color: white;
    z-index: 10;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
  }

  .slider-button {
    position: absolute;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 100vw;
    display: grid;
    place-items: center;
    left: var(--position);
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 100;
    box-shadow: 1px 1px 1px #000;
  }
}

@media screen and (max-width: 1270px) {
  .image-container {
    max-width: 100vw;
    height: 40vh;
  }
}

@media screen and (max-width: 640px) {
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }

  .slider-image {
    width: auto;
    height: 20vh;
    object-position: center;
    display: block;
  }

  .slider {
    display: none;
  }

  .slider-button {
    display: none;
  }
}

.wrapper {
  margin-bottom: 0;
}

.footer {
  background-color: #2e3141;
}

.buttons {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prev,
.next {
  cursor: pointer;
  width: auto;
  color: white;
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.smallmargin {
    margin: 0 0 0.5em 0;
}

.big {
    font-size: 1.2rem;
}

.bold {
    font-weight: 600;
}

.regular {
    font-weight: 500;
}

.blacktext {
    color: #000;
}

.img-text {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.altside1 {
    padding: 3em 0 1em 0;
    margin: 0 auto;
    width: 55em;
    display: flex;
    align-items: center;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
}

.content-margin {
    padding-inline: 10px;
}

.subitems {
    padding: 3em 0 1em 0;
    margin: 0 auto;
    width: 55em;
    display: flex;
    align-items: center;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
}

.subinner {
    padding: 0 0 1em 0;
    margin: 0 auto;
    width: 55em;
    display: flex;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: left;
}
